<header class="navigation" id="top">
    <div class="container">
        <div class="secondary-nav">
            <span><a href="mailto:{{ site.email }}"><i class="icon_mail"></i>{{ site.email }}</a></span>
            <span><i class="icon_phone"></i>{{site.telefonnummer}}</span>
        </div>
        <!--/.secondary-nav-->
        <div class="main-nav">
            <div class="brand"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{site.logo}}" alt="{{ site.title }}"></a></div><!--/.brand-->
            <nav>
                <ul>
                    {% assign abschnitte = site.seitenabschnitte | sort: "reihenfolge" %}
                    {% for abschnitt in abschnitte %}
                      <li><a class="scroll page-link {% if my_page == current_page %}active{% endif %}" href="{{ site.baseurl }}/#{{ abschnitt.id }}">{{ abschnitt.titel }}</a></li>
                    {% endfor %}
                </ul>
                <div class="nav-toggle"><i class="icon_menu"></i></div>
            </nav>
            <a href="#" data-toggle="modal" data-target="#kontakt_modal" class="icon-shortcut"><i class="fa fa-paper-plane-o" title="Make an Appointment"></i></a><!--/.icon-->
        </div>
        <!--/.main-nav-->
    </div>
    <!--/.container-->
</header>
<!--/.header-->
