<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Christian Boguslawski">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


  <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="assets/css/zabuto_calendar.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
  <link rel="stylesheet" href="assets/revolution/css/settings.css" type="text/css">
  <link rel="stylesheet" href="assets/revolution/css/layers.css" type="text/css">
  <link rel="stylesheet" href="assets/revolution/css/navigation.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">


  <!--link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
