<script type="text/javascript" src="{{ "/assets/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery-migrate-1.2.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/bootstrap-select.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/zabuto_calendar.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.validate.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ "/assets/revolution/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.video.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.slideanims.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.actions.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.kenburn.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.navigation.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.migration.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/revolution/js/extensions/revolution.extension.parallax.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>

<!--[if lte IE 9]>
    <script src="assets/js/ie.js"></script>
<![endif]-->

<script type="text/javascript">
  //Show carousel only after page load
  $(window).load(function(){
    $(".rev-slider").css("visibility","visible");
  });

  //link to modal
  $('[href="#kontakt"]').click(function(){
    $('#kontakt_modal').modal();
  });
</script>
